@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Poppins:wght@300&display=swap'); 

body {
    font-family: 'Poppins', sans-serif;
    background-color: #6C00FF;
}
#seleccionar-mascota {
    width: 100vw;   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titulo {
    font-family: 'Fredoka One', cursive;
    color: white;
    font-size: 32px;   
}

.subtitulo {
    color: white;
    font-size: 20px;
}


.tarjetas, .tarjetas-ataque {
    display: flex;
    gap: 10px;
}

.tarjeta-de-mokepon {
    display:flex;
    width: 200px;
    height: 100px;
    background: #1c10c5;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    color: aliceblue;
}

.tarjeta-de-mokepon img {
    width: 80px;   
}

#boton-mascota {
   width: 180px;
   height: 40px; 
   border-radius: 20px;
   background: transparent;
   border: 2px solid white;
   color: white;
   font-family: 'Poppins', sans-serif;
   font-weight: bold;
   margin-top: 30px;
}

input {
    display: none; 
}

input:checked + label{
    background-color: #FF7B54;
}

.tarjeta-de-mokepon:hover {
    cursor: pointer;
}

#seleccionar-ataque {
    flex-direction: column;
    align-items: center;  
}

.boton-de-ataque {
    background-color: #11468f;
    border-radius: 15px;
    font-family: 'Poppins', sans-serif;
    color: antiquewhite;
    padding: 10px;
    box-sizing: border-box;
    width: 100px;
    font-size: 17px;
    border-color: transparent;
}

#mensajes {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 280px;
    background-color: #EEEEEE;
    padding: 20px;
    margin-top: 20px;
    border-radius: 20px;
}

#boton-reiniciar {
    border: transparent;
    color: #11468f;
    font-family: 'Poppins', sans-serif;
}

.ataques {
    display: grid;
    grid-template-columns: 100px 100px;
    gap: 50px;
    /* letter-spacing: 1px;
    text-align: center; */
    border: 2px solid white;
    border-radius: 10px;
    margin-top: 20px;
}

.ataques-jugador, .ataques-enemigo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#ver-mapa {
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#mapa {
    border: 2px solid white;
}

@media (max-width: 360px) {
    .tarjetas, .tarjetas-ataque {
        flex-direction: column;
    }
}



